<p id="notice"><%= notice %></p>

<button id="hello-button">こんにちわ！</button>
<h2 id="hello-user-nickname"></h2>

<hr>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.user_id %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <% if Like.find_by(item_id: item.id, user_id: current_user&.id) %>
            <%= link_to '★', item_likes_path(item), method: :delete,  class: "like-button", data: {like: true, item_id: item.id} %>
          <% else %>
            <%= link_to '★', item_likes_path(item), method: :post,  class: "like-button", data: {like: false, item_id: item.id} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>

<br>

<% if user_signed_in? %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
<% else %>
  <%= link_to 'ログイン', new_user_session_path, class: "login" %>
  <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
<% end %>