<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user_id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>

<hr>

<h1>New Comment for this Item</h1>

<%= form_with(model: [@item, @comment], local: true, id: 'comment-form', data: {item_id: @item.id}) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content, "コメント" %>
    <%= form.text_field :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<hr>

<h1>Comments for this Item</h1>

  <div id="comments">
    <% @item.comments.reverse.each do |comment|%>
      <div class="comment" style="border: 1px solid black; margin: 1rem 0; padding: 0.5rem; display: inline-block;">
        <div class="comment-user-nickname">
          <%= comment.user.nickname %>さんのコメント
        </div>
        <div class="comment-content">
          <%= comment.content %>
        </div>
        <div class="comment-created_at">
          <%= comment.created_at %>
        </div>
      </div>
      <br>
    <% end %>
  </div>
